<!doctype html>

<head>
   <meta charset="utf-8"/>
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <link rel="stylesheet" href="css/estilos1.css">
   <title>Session Trip</title>    
</head>


<body class="p-3 mb-2 bg-info text-white">




 <div class="container">
<div class="row">


<ul class="nav justify-content-left">
<li class="nav-item">
 <div class="zoom2"><div class="cat"><a href="http://localhost:3000/"><img class="p1" src="img/logo3.jpg">
</a>
</div></div>
</li>
<li class="nav-item">
 <a class="nav-link active" href="#"><p class="ret1">Gastronomia</p></a>
</li>
<li class="nav-item">
 <a class="nav-link" href="#"><p class="ret1">Hoteleria</p></a>
</li>
<li class="nav-item">
 <a class="nav-link" href="#"><p class="ret1">Espectaculos</p></a>
</li>
<li class="nav-item">
 <a class="nav-link" href="#"><p class="ret1">Deportes</p></a>
</li>
<li class="nav-item">
 <a class="nav-link" href="#"><p class="ret1">Parques y Paseos</p></a>
</li>
 <li class="nav-item">
 <a class="nav-link disabled" href="#"><p class="ret1"></p></a>
</li>
   <li class="nav-item">
 <a class="nav-link disabled" href="#"><p class="ret1"></p></a>
</li>

      <li class="nav-item">
 <a class="nav-link disabled" href="#"><p class="ret1"></p></a>
</li>
     <li class="nav-item">
 <a class="nav-link disabled" href="#"><p class="ret1"></p></a>
</li>
         <li class="nav-item">
 <a class="nav-link disabled" href="#"><p class="ret1"></p></a>
</li>
     <li class="nav-item">
 <a class="nav-link disabled" href="#"><p class="ret1"></p></a>
</li>
   <li class="nav-item">
 <a class="nav-link" href="http://localhost:3000/register"><p class="ret1">Registrarse</p></a>
</li>
 <li class="nav-item">
 <a class="nav-link" href="http://localhost:3000/login"><p class="ret1">Iniciar Sesion</p></a>
</li>
</ul>




<div><span class="badge bg-success"><h2></span>
  Bienvenido       <% if (user) { %>
    <%= user.user %>   <% } %>

    , elija un rubro en el cual quiera realizar una reseña</span></h2>
</div>
<br>
<br>
<br>

 <div class="col-sm"><span class="badge bg-danger">
   <p class="ret2">Gastronomia <br><br><a href="gas">
   <img class="zoom1" src="img/ff1.jpg"></a></p></span>
 </div>
 <div class="col-sm"><span class="badge bg-primary">
   <p class="ret2">Hoteleria <br><br><a href="hot">
   <img class="zoom1" src="img/ff2.jpg"></a></p></span>
 </div>
 <div class="col-sm"><span class="badge bg-secondary">
   <p class="ret2">Espectaculos <br><br><a href="esp">
   <img class="zoom1" src="img/ff3.jpg"></a></p></span>
 </div>
 <div class="col-sm"><span class="badge bg-warning">
   <p class="ret2">Deportes <br><br><a href="dep">
   <img class="zoom1" src="img/ff4.jpg"></a></p></span>
 </div>
 <div class="col-sm"><span class="badge bg-success">
   <p class="ret2">Parques y Paseos <br><br><a href="pp">
   <img class="zoom1" src="img/ff5.jpg"></a></p></span>
 </div>
</div>
</div>



</body>




  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
</html>